/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

p{
    font-family: 'Open Sans', sans-serif;
}
html,
body { height: 100% }
body {

}
a:hover { text-decoration: none }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

a {
    text-decoration: none;
}

.body{
    padding-top:70px;
}

.navbar-header {
  float: none;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
}
.navbar-nav>li {
  float: none;
}
.navbar-collapse.collapse.in{
  display:block !important;
}

.navbar-inverse {
    background: rgba(0, 0, 0, 0.5); 
    color: #fff;
    border-color: #080808;
    /* opacity: 0.49; */
}
.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.navbar-header ul li{
    list-style: none;
    float: left;
    color: #fff;
}
.bttn{
    background-color: transparent;
    border: 1px solid transparent;
}
.navbar-toggle {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: right;
    margin-bottom: 8px;
    margin-right: 15px;
    margin-top: 8px;
    padding: 9px 10px;
    min-height: 100%;
    position: relative;
    cursor: pointer;
}



.padding-before{
    padding-top: 150px;
}

.butn a{
    border: 1px solid #000000;
    padding: 10px;
}
.butn {
    padding-top: 50px;
}

.text-color h4{
    color: #d4af37;
}

h2, .designation h3{
    color: #4d5c66;
}

.text-color h2{
    padding-bottom: 50px;
}
.special-color{
    color: #d4af37;
    padding-top: 10px;
}
.row img{
    height: 300px;
    width: 100%;
}
.row .col-md-3{
    padding-left: 2px;
    padding-right: 0px;
    padding-top: 2px;
}

.row .col-md-3{
    position: relative;
}

.row .col-md-3 .caption
{
  opacity: 0;
  display: block;
 background: rgba(99, 99, 99, 0.6);
  /* background: #636363; */
  bottom: 0;
  text-align: center;
  position: absolute;
  width: 99.5%;
  height: 99.5%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
/*   transition: all 0.35s;
margin-right: 2px;
margin-top: 1px;
padding: 1px 2px 0 0; */
}


 .col-md-3:hover .caption{
  opacity: 1;
}

.managing-people .individual img{
    
    height: auto;
    width: 100%;
    padding-right: 5px;
}
.managing-people .individual {
        width: auto;
        float: left;
        display: inline;
}

.designation{
    padding-left: 15px;
}
.write img{
    height: 400px;   
}
.date{
    font-size: 13px;
}
.butn-read {
    margin-top: 50px;
}
.butn-read a{
    border: 1px solid #000000;
    padding: 20px 50px 20px 50px;
    color: #000;
}

.footer-right, .footer-left{
/*     position: absolute;
bottom: 30px;
margin-top: 15px;
padding-top: 15px; */
    font-size: 16px;
    color:#505d68;
    
}

.background-shadow{
  background-color: #eeeeee;

  /* margin-top: 42px; */
}

.footer-right{
    float: right;
    /* margin-bottom: 0; */
}
.footer-left{
    float: left;
}

.loction h4{
    font-size: 13px;
    padding-bottom: 50px;
}

.fax p, .email p, .write p, .text p{
    font-size: 19px;
    font-weight: normal;
    color: #505d68;
}

.fax, .email{
    padding-bottom: 150px;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 100%;
}

.nav-text-style li a{
    
    border-radius: 0.25em;
    color: rgb(212, 175, 55) !important;
    display: inline-block;
    font-size: 1.875rem;
    font-family: "Open Sans",sans-serif;
    padding: 0.4em 1em;
    transition: background 0.2s ease 0s;

}
.nav-text-style{
  padding-top: 10px;
}

b{
 font-size: 1rem;
}

.active {

  padding-top: 50px;
}

.nav-text-style li a:hover{
font-weight: bold;
}


.nav-text-style .social a{
background-image: url("img/cd-socials.svg");
    background-repeat: no-repeat;
    height: 44px;
    overflow: hidden;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    width: 44px;
}

.nav-text-style .social{
  display: inline-block;
    margin: 0 0.4em;
}

.nav-text-style .facebook a{
  background-position: 0 0;
}
.nav-text-style .instagram a{
  background-position: -44px 0;
}
.nav-text-style .debrill a{
  background-position: -88px 0;
}
.nav-text-style .twitter a{
  background-position: -132px 0;
}

.last-post{
    padding-top: 42px;
  padding-bottom: 42px;
}

.fax-email{
  padding-top: 110px;
  /* padding-bottom: 110px; */
  margin-bottom: 110px;
}

/* ************************** */
/* Trouble Shotting */
.row{
  margin-right: 0;
}



/* Responsive */
@media screen and (max-width: 550px) {
   .top-menu-bg {
    background-image: url("img/elegant-psd-index-mobile.jpg") !important; 
  }
  .top-text h2{
    font-size: 70px;
    font-weight: lighter;
  }
}

@media screen and (min-width: 550px) and (max-width: 1079px) {
  .top-menu-bg {
    background-image: url("img/elegant-psd-index.jpg") !important;
    
  }
    .top-text h2{
    font-size: 80px;
    font-weight: 200;
  }
}

@media screen and (min-width: 1080px) {
  .top-menu-bg {
    background-image: url("img/elegant-psd-index.jpg") !important;
    
  }
  .top-text h2{
    font-size: 80px;
    font-weight: 200;
  }
}


.top-menu-bg {
  /* background: url("img/elegant-psd-index.jpg") no-repeat center center;  */
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height: 100%;
background-repeat: no-repeat !important;
background-position: center center !important;
/* height: 100%; */
/*   Set up proportionate scaling */
  width: 100%;
/*   Set up positioning */

/*   position: relative;
top: 0;
left: 0; */

  margin-bottom: 1px;
}


.top-text{
    
    text-align: center;
    vertical-align: middle;

}
.top-text h2{
    
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-style: italic; 
    padding-top: 400px;  
}